*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, Helvetica, sans-serif;
}

li{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	display: flex;
	height: 70px;
	padding: 0px 50px;
	background-color: #FFC171;
	justify-content: space-between;
}
.logo{
	width: 20%;
	display: flex;
	margin-top: 5px;
}
.logo .logo1:first-child::before{
	display: flex;
	list-style: none;
	align-items: center;
}
.logo-2 h2{
	font-size: 30px;
	color: #3A3A3A;
	margin-left: 3px;
	margin-top: 15px;
	font-weight: bold;
	display: flex;
}
.menu{
	display: flex;
	flex: 3;
	align-items: center;
}
.menu>li>a:hover{
	color: white;
}
.menu>li{
	padding: 0 12px;
	position: relative;
	color: white;
	margin-left: 30px;
}
.menu li a {
	font-size: 15px;
	font-weight: bold;
	display: block;
	line-height: 20px;
	color: #3A3A3A;
}






.contact-form{
	margin-left: 100px;
}
.contact-form label {
display: block;
margin-bottom: 10px;
color: #3A3A3A;
}
.contact-form input, .contact-form textarea {
padding: 10px;
margin-bottom: 20px;
border: 1px solid #c2c2c2;
}
.send{
	width: 180px;
	height: 50px;
	text-align: center;
}
.send button {
background-color: #333;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}
.contact-form button:hover {
background-color: #666;
}
.map {
	height: 70vh;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
}
.map iframe {
  position: absolute;
  border: none;
  margin-top: 30px;
  display: flex;
  margin-left: 400px;
}






.cuoi{
	width: 100%;
	height: 250px;
	background-color:white;
	align-items: center;
	display: flex;
}
.logo-cuoi{
	width: 20%;
	display: flex;
	margin-top: 10px;
	margin-left: 200px;
}
.logo .logo1:first-child::before{
	display: flex;
	list-style: none;
	align-items: center;
}
.logo-2 h2{
	font-size: 30px;
	color: #3A3A3A;
	margin-left: 3px;
	margin-top: 15px;
	font-weight: bold;
	display: flex;
}
.cuoi> .thongtin> img{	
	color: #7fad39;
	font-weight: bold;
	margin-left: 200px;
	align-items: center;
	margin-top: 30px;
}
.icon img{
	width: 15px;
	margin-left: 200px;
	margin-top: 20px;
}
.icon a{
	color: #2D2D2D;
	font-weight: bold;
}
.tron{
	margin-left: 200px;
}
.tron h2{
	color: #3A3A3A;
	margin-left: 150px;
}
.tron-1{
	display: flex;
	margin-top: 10px;
}
.border-radius a img{
	width: 40px;
	text-align: center;
	align-items: center;
	margin-left: 150px;
}

.border-radius2 a img{
	width: 40px;
	text-align: center;
	align-items: center;
	margin-left: 20px;
}

.border-radius3 a img{
	width: 40px;
	text-align: center;
	align-items: center;
	margin-left: 20px;
}
