*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, Helvetica, sans-serif;
}




li{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	display: flex;
	height: 70px;
	padding: 0px 50px;
	background-color: #FFC171;
	justify-content: space-between;
}
.logo{
	width: 20%;
	display: flex;
	margin-top: 5px;
}
.logo .logo1:first-child::before{
	display: flex;
	list-style: none;
	align-items: center;
}
.logo-2 h2{
	font-size: 30px;
	color: #3A3A3A;
	margin-left: 3px;
	margin-top: 15px;
	font-weight: bold;
	display: flex;
}
.menu{
	display: flex;
	flex: 3;
	align-items: center;
}
.menu>li>a:hover{
	color: white;
}
.menu>li{
	padding: 0 12px;
	position: relative;
	color: white;
	margin-left: 30px;
}
.menu li a {
	font-size: 15px;
	font-weight: bold;
	display: block;
	line-height: 20px;
	color: #3A3A3A;
}




.search{
	align-items: center;
	flex: 1;
	display: flex;
}
.search>li{
	padding: 0 12px;
}
.search>li i img{
	width: 10px;
	height: 20px;
	margin-right: 10px;
}
.search>li a img{
	width: 15px;
	height: 25px;
}
.search>li:first-child {
	position: relative;
}
.search>li:first-child input{
	width: 100%;
}
.search>li:first-child i {
	position: absolute;
	right: 10px;
}




section{

	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#slider{
	position: relative;
	width: 60%;
	overflow: hidden;
}
.images{
	display: flex;
	width: 100%;
}
.images > img{
	max-width: 100%;
	max-height: 501px;
	transition: all 1s ease;
	margin-top: 3px;
}
.images > input{
	display: none;
}
.dots{
	display: flex;
	justify-content: center;
	margin: 5px;
}
.dots > label{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: solid #CBCBCB 3px;
	cursor: pointer;
	transition: all 1s ease;
	margin: 5px;
}
.dots > label:hover {background: #3A3A3A}
#img1:checked ~ .m1 {
	margin-left: 0%;
}
#img2:checked ~ .m2 {
	margin-left: -100%;
}
#img3:checked ~ .m3 {
	margin-left: -200%;
}
#img4:checked ~ .m4 {
	margin-left: -300%;
}
#img5:checked ~ .m5 {
	margin-left: -400%;
}
#img6:checked ~ .m6 {
	margin-left: -500%;
}




container{
	width: 100%;
}
.row{
	background-color: #FFC171;
	height:270px;
}
container > .row > h1{
	padding: 20px;
	margin-top: 10px;
	margin-left: 150px;
	font-weight: bold;
	color: #3A3A3A;
}
ul.gallery{
	width: 80%;
    overflow: hidden;
    padding-top: 11px;
    margin-left: 180px;
}
ul.gallery > li > img{
	width: 150px;
	height: 100px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}
ul.gallery {
	
}

ul.gallery li {
    margin-bottom: 12px;
    float: left;
    margin-left: 14px;
}

.gallery a.gal {
    background-color: transparent;
    display: block;
    font-size: 0;
    border: 3px solid transparent;
    line-height: 0;
    position: relative;
    
}

.gallery a.gal img {
    vertical-align:bottom;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.gallery a.gal span {
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    background: url(../images/magnify.png) -100px center no-repeat;
}

.gallery a.gal:hover span  {
    background-position: center center;
}

.gallery a.gal:hover img{
    opacity: 0.6;
}
.gallery a.gal:hover {
    border-color: #252525;
    border-radius: 3px;
    background-color: #414141;
}
.gallery li p{
	margin-top: 5px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #3A3A3A;
}




.cuoi{
	width: 100%;
	height: 250px;
	background-color:white;
	align-items: center;
	display: flex;
}
.logo-cuoi{
	width: 20%;
	display: flex;
	margin-top: 10px;
	margin-left: 200px;
}
.logo .logo1:first-child::before{
	display: flex;
	list-style: none;
	align-items: center;
}
.logo-2 h2{
	font-size: 30px;
	color: #3A3A3A;
	margin-left: 3px;
	margin-top: 15px;
	font-weight: bold;
	display: flex;
}
.icon img{
	width: 15px;
	margin-left: 200px;
	margin-top: 20px;
}
.icon a{
	color: #2D2D2D;
	font-weight: bold;
}
.tron{
	margin-left: 200px;
}
.tron h2{
	color: #3A3A3A;
	margin-left: 150px;
}
.tron-1{
	display: flex;
	margin-top: 10px;
}
.border-radius a img{
	width: 40px;
	text-align: center;
	align-items: center;
	margin-left: 150px;
}

.border-radius2 a img{
	width: 40px;
	text-align: center;
	align-items: center;
	margin-left: 20px;
}

.border-radius3 a img{
	width: 40px;
	text-align: center;
	align-items: center;
	margin-left: 20px;
}

