*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, Helvetica, sans-serif;
}




li{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	display: flex;
	height: 70px;
	padding: 0px 50px;
	background-color: #FFC171;
	justify-content: space-between;
}
.logo{
	width: 20%;
	display: flex;
	margin-top: 5px;
}
.logo .logo1:first-child::before{
	display: flex;
	list-style: none;
	align-items: center;
}
.logo-2 h2{
	font-size: 30px;
	color: #3A3A3A;
	margin-left: 3px;
	margin-top: 15px;
	font-weight: bold;
	display: flex;
}
.menu{
	display: flex;
	flex: 3;
	align-items: center;
}
.menu>li>a:hover{
	color: white;
}
.menu>li{
	padding: 0 12px;
	position: relative;
	color: white;
	margin-left: 30px;
}
.menu li a {
	font-size: 15px;
	font-weight: bold;
	display: block;
	line-height: 20px;
	color: #3A3A3A;
}







content{
	width:100%;
}
.banner img{
	width: 100%;
	height: 800px;
}
.content-1 h2{
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
	color: #3A3A3A;
}
.product-list-1{
	margin-top: 20px;
	width: 100%;
	display: flex;
	
}
.product-list > h2{
	width: 100%;
	color: #2D2D2D;
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
	margin-top: 30px;

}
.product {
	width: 20%;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 30px;
	text-align: center;
	margin-left: 40px;
}
.product a img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	margin-bottom: 20px;
}
.product h2 {
	color: #2D2D2D;
	font-size: 20px;
	margin-bottom: 10px;

}
.product p.price {
	font-size: 17px;
	margin-bottom: 15px;
	color: #2D2D2D;
}
.product p.price-2 {
	font-size: 15px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #2D2D2D;
}







.cuoi{
	width: 100%;
	height: 250px;
	background-color:white;
	align-items: center;
	display: flex;
}
.logo-cuoi{
	width: 20%;
	display: flex;
	margin-top: 10px;
	margin-left: 200px;
}
.logo .logo1:first-child::before{
	display: flex;
	list-style: none;
	align-items: center;
}
.logo-2 h2{
	font-size: 30px;
	color: #3A3A3A;
	margin-left: 3px;
	margin-top: 15px;
	font-weight: bold;
	display: flex;
}
.icon img{
	width: 15px;
	margin-left: 200px;
	margin-top: 20px;
}
.icon a{
	color: #2D2D2D;
	font-weight: bold;
}
.tron{
	margin-left: 200px;
}
.tron h2{
	color: #3A3A3A;
	margin-left: 150px;
}
.tron-1{
	display: flex;
	margin-top: 10px;
}
.border-radius a img{
	width: 40px;
	text-align: center;
	align-items: center;
	margin-left: 150px;
}

.border-radius2 a img{
	width: 40px;
	text-align: center;
	align-items: center;
	margin-left: 20px;
}

.border-radius3 a img{
	width: 40px;
	text-align: center;
	align-items: center;
	margin-left: 20px;
}